:root {
  --primary-color: #0020F8;
  --secondary-color: #FFF4F4;
  --accent-color: #F73B20;
  --background-color: #FFF4F4;
  --text-color: #000000;
  --highlight-color: #F8E850;
  --button-hover-color: #45a049;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary-color);
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--accent-color);
}

.input-container,
.button-container {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: var(--secondary-color);
}

.countdown-bar {
  width: 100%;
  height: 20px;
  background-color: var(--secondary-color);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

.countdown {
  height: 100%;
  background-color: var(--accent-color);
  transition: width 1s linear;
}
